.container {
    margin-top: 30px;
    max-width: 1100px;
}

.userWidget {
    padding: 15px 15px;
}

.avatar {
    background-color: var(--tertiary-bg);
    border-radius: 50%;
    object-fit: cover;
    width: 110px;
    height: 110px;
}